In [ ]:

#1. Write the code for the given task.
#Use the below link for the source of the data set and solve the exercise.
#https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

#a) Import the dataset

import pandas as pd

# Import the dataset from the given URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print(df)
print(df.dtypes)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
#b) Show the first 25 entries
import pandas as pd

# Printing the first 25 entries from the given url
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print(df.head(25))
print(df.dtypes)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
#c) How many observations in the dataset
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print("Printing the total obervations in the dataset ",len(df))
print(df.dtypes)

Printing the total obervations in the dataset  943
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
#d) Print the name of all the columns
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')

print("Printing names of columns:")
print(df.columns)

Printing names of columns:
Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [ ]:
#e) What is the data type of each column
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print("printing the data types of each column")
print(df.dtypes)

printing the data types of each column
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
#f) Print only the occupation column
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print("Printing only the occupation column")
print(df['occupation'])

Printing only the occupation column
0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [ ]:
#g) How many different occupations are in this dataset
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print("Printing only the occupation column which have different ocupation")
print(len(df['occupation'].unique()))

Printing only the occupation column
21

In [ ]:
#h) Summarize the DataFrame
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print("Summary of dataset:")
print(df.info())

Summary of dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB
None

In [ ]:
#i) Summarize all the columns
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print(df.describe(include='all'))

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

In [ ]:
#j) Summarize only the occupation column
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url,delimiter='|')
print("Summarizing only th occupation column:")
print(df['occupation'].describe())

Summarizing only th occupation column:
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object